/*HERO SECTION STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.hero_section{
    background: rgba(255,255,255,0.1);
    height: 100%;
    /* margin-top: 50px; */
}
.hero_section{
    position: relative;
}
.hero_section .hero{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-left: 10px;
    position: relative;
    top:16%;
    left:5%;
    z-index: 3;
}
.hero_section .hero .title{

    width: 150%;
    font-family: 'Bebas Neue', cursive;
    font-size:8rem;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: black;
    position: relative;
    -webkit-text-stroke:2px white;
    
}
.hero_section .hero .description{
    margin-top: 20px;
    font-size: 2rem;
}
.hero_section .hero .get_started_btn{
    width: 150px;
    height: 50px;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Chivo', sans-serif;
    border-radius: 2px;
    border: 3px solid rgba(238,125,52,0.8);
    color: rgba(238,125,52,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: transparent;
    position: relative;
    overflow: hidden;
}
.hero_section .hero .get_started_btn::after{
    content:"";
    width: 100%;
    height: 150%;
    clip-path: polygon(50% 0%, 100% 30%, 100% 100%, 0 100%, 0% 30%);
    background: white;
    position: absolute;
    top: 100%;
    left:0;
    z-index: -1;
    transition: all 0.6s ease;
}
.hero_section .hero .get_started_btn:hover::after{
    top: -50%; 
}
.hero_section .img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_section img {
    width: 40%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 2;
}
.hero_section img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.hero_section img:first-child {
    width: 30%;
    position: relative;
    left:100px;
    z-index: 1;
    opacity: 0.8;
}
.hero_section img:nth-child(3) {
    width: 35%;
    position: relative;
    right:100px;
    z-index: 1;
    opacity: 0.8;
}

.bubble:first-child{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgba(238,125,52,0.8);
    background: linear-gradient(338deg, rgba(238,125,52,1) 22%, rgba(255,255,255,0) 100%);
    border-radius: 50%;
    z-index: -999;
    top:-10%;
    left:-10%;
    filter:blur(2px);
}
.bubble:nth-child(2){
    position: absolute;
    width: 200px;
    height: 200px;
    /* background-color: rgba(238,125,52,0.8); */
    background: rgb(238,125,52);
    background: linear-gradient(199deg, rgba(238,125,52,1) 22%, rgba(255,255,255,0) 100%);
    border-radius: 50%;
    z-index: -999;
    top:70%;
    left:20%;
    filter:blur(2px);

}
.bubble:nth-child(3){
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgba(238,125,52,0.8);
    border-radius: 50%;
    z-index: -999;
    filter:blur(2px);
    bottom: -30%;
    right: -15%;
}
.hero_section .fade{
    width: 100%;
    height: 100%;
    background-color: rgb(238,125,52);
    position: absolute;
    z-index: -998;
    opacity: 0.4;
}

/*SECTION 1 STYLE*/
.section1_container{
    height: calc(100vh - 100px);
    background-color:transparent ;
    z-index: 1;
    position: relative;
}
.section1_container .fade{
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity:0.5;
    z-index: -999;
}
.section1_container .info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section1_container .info .title{
    width: 50%;
    height: 10%;
    background: rgba(238,125,52,0.9);
    border-radius: 10px;
    position: absolute;
    top:0;
    transform: translate(0,-25%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    color:white;
    font-size: 2.5rem;
}
.section1_container .description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    font-size: 1.3rem;
    line-height: 150%;
}
.section1_container .info .vid{
    border-radius: 5px;
    width: 90%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.section1_container .description span{
    padding:5px 10px;
    background: rgba(238,125,52,0.9);
    box-shadow: rgba(238,125,52,0.9) 0px 2px 4px;
}
