@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Sans&display=swap');
.joblist_container{
    min-height: calc(100vh - 50px);
    font-family: 'Noto Sans', sans-serif;
    margin-top: 30px;
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    .bg
    {
        width: 100%;
        height: 500vh;
        position: fixed;
        background: url('../../assets/images/job_bg.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position-x: center;
        background-position-y: -200px;
        filter: blur(5px);
        z-index: -1;
    }
    .box{
        margin-top: 10px;
        width: 90%;
        height: auto;
        padding:20px;
        background: rgba(255,255,255,0.8);
        display: flex;
        .list_container{
            width: 70%;
            .MuiPagination-ul{
                display: flex;
                justify-content: center;
                font-size: 1.3rem;
            }
            .item{
                font-size: 1.05rem;
                height: auto;
                width: 90%;
                margin: 10px 20px;
                padding: 20px;
                border-radius: 5px;
                background: white;
                display: flex;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                transition:all 0.15s ease-in-out;
                line-height: 180%;
                position: relative;
                overflow: hidden; 
                &:hover{
                    transform: scale(1.02);
                    cursor: pointer;
                    .name{
                        color:rgb(238,125,52)
                    }
                }
                &::after{
                    content: "";
                    height: 100%;
                    width: 20px;
                    background:rgb(238,125,52);
                    position: absolute;
                    top:0;
                    left: 0;
                    z-index: -1;
                }
                
                img{
                    border-radius: 15px;
                    width: 100px;
                    height: 100%;
                    margin: 20px;
                    
                }
                .name{
                    font-size: 1.4rem;
                    font-weight: bold;
                    padding: 0 0 10px 0;
                }
                .item_attribute{
                    display: flex;
                    align-items: center;
                }
            }
        }
        .filter_container{
            // color:black;
            background: whitesmoke;
            width: 30%;
            height: 500px;
            margin: 10px;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            .filter_btn{
                justify-self: center;
                border:1px solid rgb(238,125,52);
                width:100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 4px;
                &:hover{
                    background-color: rgb(238,125,52);
                    font-size: 1.1rem;
                }
            }
            // .Mui-focused .MuiOutlinedInput-notchedOutline{
            //     border-color:rgb(238,125,52);
                
            // }
            // .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root label{
            //     color:rgb(238,125,52) !important
            // }
            
        }
    }
}
.empty_container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color:rgb(238,125,52);
        font-size:2rem;
    }
    img{
        width: 40%;
    }
}
