.login_layer{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; 
    background-color: rgba(0,0,0,0.6);
}

.login_container{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    
}
.login_layer .login_container .login_bg{
    background-image: url("../assets/images/login_bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    width: 60%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.login_layer .login_container .tag{
   position: absolute;
   width: 80px;
   height: 40px;
   background-color:rgba(0,0,0,0.2);
   border-radius: 5px;
   bottom: 20%;
   left:60%;
   transform: translate(-50%,-50%);
   z-index: 3;
}


.login_layer .login_container .login_form{
    display:flex;
    position: absolute;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items:center ;
    right:0;
    z-index: 1;
}

.login_layer .login_container .sign_up_form{
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    justify-content: center;
    align-items:center ;
    z-index: 1;
    background-color: white;
}

@keyframes LoginOn{
    from {
        left:40%
    }
    to {
        left:0
    }
}
@keyframes SignUpOn{
    from {
        left:0
    }
    to {
        left:40%
    }
}
@keyframes tagMoveLeft{
    10% {
        background-color: rgba(0,0,0,0);
        left:60%
    }
    30%{
        background-color: rgba(0,0,0,0);
    }
    60%{
        background-color: rgba(0,0,0,0);
    }
    90%{
        background-color: rgba(0,0,0,0.2);
        left:40%
    }
    
}
@keyframes tagMoveRight{
    10% {
        background-color: rgba(0,0,0,0);
        left:40%
    }
    30%{
        background-color: rgba(0,0,0,0);
    }
    60%{
        background-color: rgba(0,0,0,0);
    }
    90% {
        background-color: rgba(0,0,0,0.2);
        left:60%
    }
}


.login_layer .form{
    display: flex;
    width: 100%;
    height: auto;
    padding:2rem;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
  .form .input_field{
    width: 80%;
    background: #e6e6e6;
    height: 52px;
    font-size: 18px;
    display:flex;
    align-items: center;
    padding: 4px 15px;
    margin: 10px;
    border-radius: 3px;
    
}
 .form input{
    margin-left: 10px;
    background: transparent;
    outline: none;
    border:none;
    font-size: 18px;
    line-height: 1.2;
    color: rgba(0,0,0,0.8);
    width: 100%;
}
 .form input::placeholder{
    color:rgba(0,0,0,0.3)
}
.login_layer .title{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top:200px
}
.login_layer .login_form .title{
    font-size: 2rem;    
    font-weight: bold;
    position: absolute;
    top:10%
}
.login_layer .login_container .login_form .form .check{
    display: flex;
    width: 85%;
    padding:0px 10px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.login_layer .login_container .login_form .form .forgot{
    display: flex;
    align-items: center;
    color:rgba(0,0,0,0.6);
    cursor: pointer;  
}
.login_layer .login_container .login_form .form .check .forgot:hover{
    color:rgba(0,0,0,0.8);
}
.login_layer .login_container .login_form .form .check .remember:hover .MuiTypography-root{
    color:rgba(0,0,0,0.8);
}
/*Button*/
 .button{
    width: 80%;
    height: 52px;
    margin:15px;
    padding:0 30px;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Chivo', sans-serif;
    background-color:#FF954A;
    border:0;
    font-weight: bolder;
    cursor: pointer;
    color: white;
            
}

.link_login{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width:100%;
}
.link_login .fb, .gg{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
    margin:10px;
    border:1px solid rgba(0,0,0,0.1);
    width: 120px;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 2px;
}
.MuiFormControlLabel-root{
    position: relative;
}
.MuiSvgIcon-root {
    margin-right: 4px;
}
.MuiTypography-root{
    color:rgba(0,0,0,0.3)
}
.gg img{
    margin-right: 4px;
    height: 24px;
}
.fb{
    background: #4267B2;
    color:white;
}
.login_layer .login_container .login_form .form .sign_up_option{
    margin-top: 20px;
    font-size: 0.8rem;

}
.login_layer .login_container .login_form .form .sign_up_option:hover,.sign_in_option:hover{
    text-decoration: underline;
    cursor: pointer;
}

